<div>
  <div class="desk-view">
    <div class="bg-white width-100 border-b border-c"
      style="display: grid!important; grid-template-columns: 270px calc(100% - 420px) 150px; height: 60px; padding: 6px 10px; box-sizing: border-box;">
      <div class="flex align-c">
        <div _ class="mar-r-10 flex align-c justify-c"><img loading="lazy" height="42px" width="42px"
            src="../../assets/img/logo-no-background.png"></div>
        <div class="flex flex-d-c"><span class="font-20 f-w-500" style="color: var(--color-primary);">Malai
            Agency</span><span class="font-10 mar-t-5" style="line-height: 12px;">CCTV Dealer and all security
            systems.</span></div>
      </div>

      <div class="flex align-c">
        <div></div>
        <button routerLink="{{item.route}}" mat-button class="mar-lr-10 f-w-500 {{'s'+indexAs}}"
          [routerLinkActive]="'nav-active'" *ngFor="let item of navList;index as indexAs">{{item?.dname}}</button>
      </div>
    </div>
  </div>
  <div class="mb-view bg-white" style=" height: 60px;"></div>
  <div style="background: #25435a0a;" class="overflow-h">
    <router-outlet></router-outlet>
  </div>
  <div class="mb-view bg-white border-c border-t" style="height: 60px;">
    ss
  </div>
</div>
