.box-s1 {
    box-shadow: 0 2px 5px rgba(224, 227, 231, .7) !important;
}

.icon-40 {
    font-size: 40px !important;
    width: 40px !important;
    height: 40px !important;
}

.grid-tem-p {
    grid-template-columns: max-content max-content;
}