.btn {
  font-weight: 400;
  /* line-height: 34px; */
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 16px;
}

.btn-sec {
  color: var(--color-head);
  border: 1px solid #38435f3b;
}

.btn-pri {
  background: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary);
}

.btn-pri-outline {
  /* background: var(--color-primary-opacity-25); */
  background: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-pri-sec {
  color: var(--color-primary);
  border: 1px solid;
  background: var(--color-primary-opacity-25);
  width: max-content;
}

.btn-round {
  background: transparent;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn-len {
  padding: 8px 30px;
}

.search-input-c {
  border-radius: 18px;
  display: grid;
  grid-template-columns: auto max-content;
  padding: 8px 12px;
  grid-gap: 5px;
  box-sizing: border-box;
  align-items: center;
  background: #f3f3f3;
}

.search-input-c:focus-within {
  box-shadow: 0px 2px 5px rgb(224 227 231 / 70%);
}

.b-r-50 {
  border-radius: 50%;
}

.br-r-0 {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.br-l-0 {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}


.mat -btn {
  padding: 0px 10px !important;
  border: 1px solid #2f3a463d !important;
  line-height: 34px !important;
}

.line-h-normal {
  line-height: normal;
}

.user-cir {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.obj-f-c {
  object-fit: cover;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-d-c {
  flex-direction: column;
}

.flex-d-r {
  flex-direction: row;
}


.align-c {
  align-items: center;
  align-content: center;
}

.align-s {
  align-items: flex-start !important;
  align-content: flex-start;
}

.align-e {
  align-items: flex-end !important;
  align-content: flex-end;
}

.justify-c {
  justify-items: center;
  justify-content: center;
}

.justify-e {
  justify-items: flex-end;
  justify-content: flex-end;
}

.justify-l {
  justify-items: flex-start;
  justify-content: flex-start;
}

.justify-r {
  justify-items: flex-end;
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-50-50 {
  grid-template-columns: 50% 50%;
}

.grid-a-m {
  grid-template-columns: auto max-content;
}

.grid-gap-5 {
  grid-gap: 5px;
}

.grid-gap-10 {
  grid-gap: 10px;
}

.grid-gap-15 {
  grid-gap: 15px;
}

.grid-gap-20 {
  grid-gap: 20px;
}

.grid-gap-30 {
  grid-gap: 30px;
}

.grid-gap-40 {
  grid-gap: 40px;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.move {
  cursor: move;
  user-select: none;
}

.un-select {
  user-select: none;
}

.un-select-all {
  user-select: all;
}

/* Padding based class */
.pad-l-5 {
  padding-left: 5px !important;
}

.pad-l-10 {
  padding-left: 10px !important;
}

.pad-l-15 {
  padding-left: 15px;
  box-sizing: border-box;
}

.pad-l-16 {
  padding-left: 16px;
  box-sizing: border-box;
}

.pad-l-20 {
  padding-left: 20px !important;
  box-sizing: border-box;
}

.pad-l-30 {
  padding-left: 30px !important;
}

.pad-l-50 {
  padding-left: 50px;
}

.pad-10 {
  padding: 10px;
  box-sizing: border-box;
}

.pad-30 {
  padding: 30px;
  box-sizing: border-box;
}

.pad-40 {
  padding: 40px;
  box-sizing: border-box;
}


.pad-5 {
  padding: 5px;
  box-sizing: border-box;
}

.pad-8 {
  padding: 8px;
  box-sizing: border-box;
}

.pad-15 {
  padding: 15px;
  box-sizing: border-box;
}

.pad-16 {
  padding: 16px;
  box-sizing: border-box;
}

.pad-20 {
  padding: 20px;
  box-sizing: border-box;
}

.pad-30 {
  padding: 30px;
  box-sizing: border-box;
}

.pad-40 {
  padding: 40px;
  box-sizing: border-box;
}


.pad-lr-5 {
  padding: 0px 5px;
  box-sizing: border-box;
}

.pad-10-5 {
  padding: 10px 5px;
  box-sizing: border-box;
}

.pad-lr-10 {
  padding: 0px 10px;
  box-sizing: border-box;
}

.pad-lr-16 {
  padding: 0px 16px;
  box-sizing: border-box;
}

.pad-lr-20 {
  padding: 0px 20px;
  box-sizing: border-box;
}

.pad-lr-40 {
  padding: 0px 40px;
  box-sizing: border-box;
}

.pad-r-0 {
  padding-right: 0px;
}

.pad-r-10 {
  padding-right: 10px;
}

.pad-r-16 {
  padding-right: 16px;
  box-sizing: border-box;

}

.pad-r-20 {
  padding-right: 20px;
  box-sizing: border-box;
}

.pad-r-30 {
  padding-right: 30px !important;
}

.pad-tb-5 {
  padding: 5px 0px !important;
  box-sizing: border-box;
}

.pad-tb-10 {
  padding: 10px 0px;
  box-sizing: border-box;
}

.pad-tb-16 {
  padding: 16px 0px;
  box-sizing: border-box;
}

.pad-tb-20 {
  padding: 20px 0px;
  box-sizing: border-box;
}

.pad-b-0 {
  padding-bottom: 0;
}

.pad-b-5 {
  padding-bottom: 5px;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.pad-b-16 {
  padding-bottom: 16px !important;
}

.pad-b-30 {
  padding-bottom: 30px;
}

.pad-b-40 {
  padding-bottom: 40px;
}

.pad-b-20 {
  padding-bottom: 20px;
}

.pad-t-0 {
  padding-top: 0;
}

.pad-t-5 {
  padding-top: 5px;
}

.pad-t-10 {
  padding-top: 10px;
}

.pad-t-20 {
  padding-top: 20px;
}

.pad-t-15 {
  padding-top: 15px;
}

.pad-t-25 {
  padding-top: 25px;
  box-sizing: border-box;
}

.pad-10-16 {
  padding: 10px 16px;
  box-sizing: border-box;
}

.pad-5-10 {
  padding: 5px 10px;
  box-sizing: border-box;
}

.pad-6-10 {
  padding: 6px 10px;
  box-sizing: border-box;
}

.pad-8-10 {
  padding: 8px 10px;
  box-sizing: border-box;
}

.pad-3-10 {
  padding: 3px 10px;
  box-sizing: border-box;
}





/* Margin based class */

.mar-0 {
  margin: 0px !important;
}

.mar-10 {
  margin: 10px !important;
}

.mar-5 {
  margin: 5px;
}

.mar-16 {
  margin: 10px;
}

.mar-20 {
  margin: 20px;
}

.mar-30 {
  margin: 30px;
}

.mar-l-5 {
  margin-left: 5px !important;
}

.mar-l-10 {
  margin-left: 10px !important;
}

.mar-l-20 {
  margin-left: 20px !important;
}

.mar-l-16 {
  margin-left: 16px !important;
}

.mar-r-5 {
  margin-right: 5px !important;
}

.mar-r-10 {
  margin-right: 10px !important;
}

.mar-r-16 {
  margin-right: 16px !important;
}

.mar-r-20 {
  margin-right: 20px !important;
}

.mar-lr-5 {
  margin: 0px 5px !important;
}

.mar-lr-10 {
  margin: 0px 10px !important;
}

.mar-lr-16 {
  margin: 0px 16px;
}

.mar-lr-20 {
  margin: 0px 20px;
}

.mar-tb-5 {
  margin: 5px 0px !important;
}

.mar-tb-10 {
  margin: 10px 0px;
}

.mar-tb-16 {
  margin: 16px 0px;
}

.mar-tb-20 {
  margin: 20px 0px;
}

.mar-tb-30 {
  margin: 20px 0px;
}


.mar-lr-20 {
  margin-top: 0px;
}

.mar-t-0 {
  margin-top: 0px;
}

.mar-t-5 {
  margin-top: 5px !important;
}

.mar-t-10 {
  margin-top: 10px !important;
}

.mar-t-15 {
  margin-top: 15px !important;
}

.mar-t-20 {
  margin-top: 20px !important;
}

.mar-t-30 {
  margin-top: 30px !important;
}

.mar-b-5 {
  margin-bottom: 5px;
}

.mar-b-10 {
  margin-bottom: 10px;
}

.mar-b-15 {
  margin-bottom: 15px;
}


.mar-b-20 {
  margin-bottom: 20px;
}

.mar-b-25 {
  margin-bottom: 25px;
}

.mar-b-30 {
  margin-bottom: 30px;
}

/* Icon based  */
.icon-50 {
  font-size: 50px !important;
  width: 50px !important;
  height: 50px !important;
}

.icon-45 {
  font-size: 45px !important;
  width: 45px !important;
  height: 45px !important;
}

.icon-35 {
  font-size: 35px !important;
  width: 35px !important;
  height: 35px !important;
}

.icon-30 {
  font-size: 30px !important;
  width: 30px !important;
  height: 30px !important;
}

.icon-40 {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}

.icon-20 {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.icon-22 {
  font-size: 22px !important;
  width: 22px !important;
  height: 22px !important;
}

.icon-25 {
  font-size: 25px !important;
  width: 25px !important;
  height: 25px !important;
}

.icon-18 {
  font-size: 18px !important;
  width: 18px !important;
  height: 18px !important;
}

.icon-16 {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
}

.icon-14 {
  font-size: 14px !important;
  width: 14px !important;
  height: 14px !important;
}

.icon-12 {
  height: 12px !important;
  width: 12px !important;
  font-size: 12px !important;
}

.icon-dull-c {
  color: #afb3bf;
}

/* Width */
.width-100 {
  width: 100% !important;
}

.width-50 {
  width: 50%;
}

.width-500 {
  width: 500px;
}

.width-450 {
  width: 450px;
}

.width-20px {
  width: 20px !important;
  min-width: 20px !important;
}

.width-30px {
  width: 30px !important;
  min-width: 30px !important;
}

.width-m-c {
  width: max-content;
}

/* Height based class */
.height-100 {
  height: 100%;
}

.height-35px {
  height: 35px;
}

.height-60px {
  height: 65px;
}

.min-height {
  min-height: 40px;
}

/* Font size */
.font-8 {
  font-size: 8px;
}

.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-25 {
  font-size: 25px;
}

.font-26 {
  font-size: 26px;
}

.font-30 {
  font-size: 30px;
}

.font-40 {
  font-size: 40px;
}

.font-45 {
  font-size: 45px;
}

.font-60 {
  font-size: 60px;
}

.f-w-400 {
  font-weight: 400 !important;
}

.f-w-500 {
  font-weight: 500;
}

.f-w-600 {
  font-weight: 600;
}

.f-w-normal {
  font-weight: normal !important;
}

.line-h {
  line-height: normal;
}

.line-h-28 {
  line-height: 28px !important;
}

/* will chamge */
.chip {
  height: max-content !important;
  border-radius: 2px !important;
  padding: 0px 7px !important;
  background: #e7ebf4 !important;
  font-weight: 400 !important;
  color: var(--head-c) !important;
  min-height: 26px !important;
}

.border {
  border: 1px solid !important;
}

.border-2 {
  border: 2px solid !important;
}

.border-dash {
  border: 1px dashed;
}

.border-dash-2 {
  border: 2px dashed;
}

.border-n {
  border: none !important;
}

.border-b {
  border-bottom: 1px solid;
}

.border-b-n {
  border-bottom: none;
}

.border-t {
  border-top: 1px solid;
}

.border-right {
  border-right: 1px solid;
}

.border-left {
  border-left: 1px solid !important;
}

.border-r-2 {
  border-radius: 2px;
}

.border-r-20 {
  border-radius: 20px;
}

.border-r-4 {
  border-radius: 4px !important;
}

.border-r-6 {
  border-radius: 6px;
}

.border-r-8 {
  border-radius: 8px !important;
}

.border-r-50 {
  border-radius: 50%;
}

.border-r-l-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.border-r-r-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Input based */
.input {
  background: transparent;
  border: 1px solid;
  border-radius: 2px;
}

.input-c {
  border: 1px solid #39435f54;
    /* border: 1px solid #dbdce0; */
  border-radius: 4px;
}

.input-c:focus-within {
  box-shadow: 0 2px 12px 0 rgb(41 45 55 / 16%);
  border-color: var(--color-primary) !important;
  border-radius: 4px !important;
}

.input-error {
  border-color: var(--color-warn);
}

.ship-icon {
  fill: var(--color-primary);
}

.bg-primry {
  background-color: var(--color-primary) !important;
}

.nowrap {
  white-space: nowrap;
}

.pre-line {
  white-space: pre-line;
}

.link {
  color: rgb(44, 92, 197);
}

/* Text */
.text-a-c {
  text-align: center;
}

.text-a-r {
  text-align: right;
}


/* Table based  */
/* .table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

.th {
  padding: 5px 14px !important;
  white-space: nowrap;
  border: 0.1px solid #cdd0d333;
}

.td {
  padding: 5px 14px !important;
  font-size: 12px;
  color: var(--color-head) !important;
  border: 0.1px solid #cdd0d333;
} */

.overflow-a {
  overflow: auto;
}

.overflow-h {
  overflow: hidden;
}

.overflow-e {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-y {
  overflow: auto;
  overflow-x: hidden;
}

.img-50 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Position based */
.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

.pos-s {
  position: sticky;
}

.pos-a-0 {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.line-16 {
  line-height: 16px;
}

.line-36 {
  line-height: 36px;
}

.min-h-32 {
  min-height: 32px;
}

.right-pannel {
  position: absolute;
  right: 0px;
  height: 100%;
  top: 0px;
  bottom: 0px;
  width: 0px;
  background: #fff;
  transition: width 150ms linear 0s;
  transform: translate(0px, 0px);
  animation: 150ms ease-in 0s 1 normal none running slide-modal;
  border: 1px solid #f1f5f9;
  z-index: 999;
}

.error-msg {
  padding: 10px;
  background: #ff00001a;
  color: red;
  border: 1px solid;
  border-radius: 2px;
  font-size: 12px;
  user-select: none;
}

.example-custom-placeholder {
  background: #3f51b51c;
  border: 1px dashed;
  min-height: 40px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  box-sizing: border-box;
}

.g-r-60-auto-60 {
  grid-template-rows: 55px auto 55px;
}

.main-c {
  grid-template-columns: 15rem calc(100% - calc(33rem + 49px)) 21rem;
  background: #eef5ff;
}

.z-index-9 {
  z-index: 99;
}

input {
  width: 100%;
  padding: 0;
  border: 0;
  min-height: 23px;
  color: inherit;
  background: inherit;
  cursor: inherit;
}

.required {
  font-size: 16px;
  color: #f51302;
}

.side-btn-active {
  color: #fff !important;
  background: var(--color-primary);
  background: linear-gradient(90deg, #3e69de 0, var(--color-primary) 70%);
  box-shadow: 0 0 0 rgb(42 99 254), 0 6px 7px rgb(30 135 229 / 32%);
}

div[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  color: #555555c7;
  background-color: transparent;
}

ul li {
  list-style: none;
}

ul,
ol {
  margin: 0px !important;
  padding: 0px !important;
}

.box-7 {
  height: 7px;
  width: 7px;
}

.box-20 {
  height: 20px;
  width: 20px;
}

.box-25 {
  height: 25px;
  width: 25px;
}

.box-30 {
  height: 30px !important;
  width: 30px !important;
}

.box-35 {
  height: 35px !important;
  width: 35px !important;
}

.box-40 {
  height: 40px !important;
  width: 40px !important;
}

.box-50 {
  height: 50px !important;
  width: 50px !important;
}

.box-60 {
  height: 60px !important;
  width: 60px !important;
}

.box-30 {
  height: 30px;
  width: 30px;
}

.text-decoration-n {
  text-decoration: none
}

.display-none {
  display: none !important;
}

.not-av {
  color: #afb3bf !important;
  font-size: 12px !important;
}

.user-c {
  grid-template-columns: auto auto;
  width: -webkit-max-content;
  width: max-content;
  background: #60698012;
  border-radius: 2px;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
}

.user-c :hover {
  color: var(--color-primary) !important;
}

.ava-n {
  width: 80px;
  height: 80px;
  background: #fe03ac63;
  border-radius: 50%;
}

.d-icon-color {
  color: #afb3bf;
}

.disable {
  background: #d8d8d869;
  cursor: not-allowed;
  ;
}

/* popup  */
.popup-c {
  grid-template-rows: 50px auto 50px;
}

.popup-h-c {
  grid-template-columns: auto max-content;
  box-shadow: 0px 2px 5px rgb(224 227 231 / 70%) !important;
  align-items: center;
  padding: 0px 16px;
}


.popup-b-c {
  align-items: center;
  padding: 0px 16px;
  justify-content: flex-end;
  box-shadow: 0px 0px 17px rgb(224 227 231 / 70%) !important;
}

.pos-a-50 {
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.text-t-c {
  text-transform: capitalize;
}

.checklist-option {
  padding: 5px;
  background: #60698012;
  margin: 4px;
  border-radius: 2px;
  margin-left: 0;
}

.btn-0 {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.btn-n {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.border-0 {
  border: 0 !important;
}


/* rework late */
.img-list-con {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.f-o:hover .c-o-f {
  display: grid;
}

.c-file-name {
  word-break: break-all;
  padding: 5px;
}

.c-o-f {
  position: absolute;
  top: 9px;
  width: calc(100% - 20px);
  background: #3d3d3d52;
  height: calc(100% - 23px);
  color: #fff;
  display: none;
}

.online {
  padding: 4px;
  background: #44a34c;
  position: absolute;
  border-radius: 50%;
  right: -1px;
  bottom: 0px;
  border: 2px solid #fff;
}

/* message incoming pulse */

.pulse {
  display: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  box-shadow: 0 0 0 red;
  animation: pulse 2s infinite;
  position: absolute;
  top: 12px;
  right: 9px;
  position: absolute;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 red;
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px red;
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 red;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 red;
    box-shadow: 0 0 0 0 red;
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.inte-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -20px;
  left: 30px;
  background: #bfb9e3;
}

.within-icon {
  padding: 4px;
  background: #673ab7;
  border-radius: 4px;
}


.mess-count {
  background: var(--color-primary);
  padding: 1px 5px;
  box-sizing: border-box;
  border-radius: 19px;
  font-size: 9px;
  line-height: 12px;
}

.n-ball {
  background: #f1823a;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-left: 12px;
  margin-right: 3px;
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.loc-chip {
  background: var(--color-primary-opacity-5);
  height: max-content;
  padding: 0px 8px;
  border-radius: 8px;
  height: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px !important;
  color: var(--color-primary);
  /* width: max-content; */
}


.icon-btn-basic {
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  line-height: 32px;
  width: 40px;
  height: 38px;
  border-radius: 4px;
  background: transparent;
}

.icon-btn-basic:hover,
.icon-btn-basic:focus {
  background: #efefef !important;
  cursor: pointer;
}

.stoke-btn {
  padding: 8px 16px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #cccdce;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.stoke-btn:hover,
.stoke-btn:focus {
  background: #efefef !important;
  cursor: pointer;
}


.l-h-56 {
  line-height: 1.56;
}

.l-h-5 {
  line-height: 1.5;
}

.white-space-pl {
  white-space: pre-line;
}


.strike{
  text-decoration: line-through;
}
