<div class="mb-view">
  <ng-template *ngTemplateOutlet="mobileView"></ng-template>
</div>
<div class="desk-view">
  <ng-template *ngTemplateOutlet="deskTopView"></ng-template>
</div>

<ng-template #mobileView>
  <div class="pad-5-10 flex align-c justify-space-between">
    <div class="flex align-c">
      <div class="mar-r-10 overflow-e f-w-500">{{!!getObj.filter && getObj.filter?.name?getObj.filter?.name:'All'}}
      </div>
      <mat-button-toggle-group [(ngModel)]="getObj.static_type">
        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="non-tax">Non-Taxable</mat-button-toggle>
        <mat-button-toggle value="tax">Taxable</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <button class="btn-basic icon-btn-basic" matRipple (click)="openBottomSheet(bottomSheetFilter)">
        <span class="material-symbols-outlined">tune</span>
      </button>
    </div>
  </div>
  <div style="height: calc(100vh - 170px);" class="overflow-a">
    <div *ngFor="let item of dataList" class="pad-5">
      <ng-container *ngTemplateOutlet="cardInfoItemTemplate;context:{itemInfo:item}"></ng-container>
    </div>
    <div class="pad-10 flex align-c justify-c ">
      <button mat-stroked-button color="primary" (click)="getData(getObj.page+1);">Load More</button>
    </div>
  </div>
</ng-template>
<ng-template #deskTopView>
  <div class="tab-grid  id height-100 overflow-h" style="grid-template-columns:300px calc(100% - 300px)">
    <div class="left-filter-p">
      <ng-container *ngTemplateOutlet="leftPannelTemplate"></ng-container>
    </div>
    <div class="oveflow-h">
      <div class="flex align-c justify-space-between pad-5-10">
        <div class="pad-5 font-16 flex align-c f-w-500 mar-l-10 overflow-a">
          <div class="mar-r-10 overflow-e">{{!!getObj.filter && getObj.filter?.name?getObj.filter?.name:'All'}}
            {{getObj.type | titlecase}}</div>
          <mat-button-toggle-group [(ngModel)]="getObj.static_type">
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="non-tax">Non-Taxable</mat-button-toggle>
            <mat-button-toggle value="tax">Taxable</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="flex align-c">
          <div class="tab-filter-btn mar-r-10">
            <button mat-stroked-button style="font-weight: 400;" class="head-c"
              (click)="OpenFilter(leftPannelTemplate)">
              <mat-icon class="icon-18 head-c">tune</mat-icon>
              Filter
            </button>
          </div>
          <button mat-flat-button color="primary" class="">Create</button>
        </div>
      </div>
      <div class="grid grid-gap-10" style="grid-template-columns: 500px calc(100% - 510px);">
        <div style="height: calc(100vh - 165px);" class="overflow-a">
          <div *ngFor="let item of dataList" class="pad-5">
            <ng-container *ngTemplateOutlet="cardInfoItemTemplate;context:{itemInfo:item}"></ng-container>
          </div>
        </div>
        <div class="pos-r pad-10 overflow-h" style="padding-left: 0px !important;">
          <div style="height: calc(100vh - 187px); border-radius: 4px;" class="overflow-a pos-r preview-border">
            <div class="head-c flex align-c justify-c height-100 width-100">No Preview</div>
          </div>
        </div>
      </div>
      <app-pagination [inputObject]="{dataList:dataList,totalCount:totalCount}" [isLoading]="isLoading"
        [getObj]="getObj" (pageChangeEmitter)="getData(getObj.page)"></app-pagination>
    </div>
  </div>

</ng-template>



<ng-template #leftPannelTemplate>
  <div class="bg-white height-100 border-right border-c">
    <div class="pad-16 f-w-500 head-c font-20  border-c border-b flex align-c" style="height: 50px;">My
      {{getObj.type | titlecase}}</div>
    <ng-container *ngTemplateOutlet="filterlistTemplate"></ng-container>
  </div>
</ng-template>

<ng-template #bottomSheetFilter>
  <div class="height-100">
    <div class="pad-10 border-c border-b flex align-c justify-space-between head-c ">
      <div class=" f-w-500 font-16 ">Filters</div>
      <button class="icon-btn-basic" (click)="applyFilter(null)">
        <span class="material-symbols-outlined ">close</span>
      </button>
    </div>
    <ng-container *ngTemplateOutlet="filterlistTemplate"></ng-container>
  </div>
</ng-template>


<ng-template #filterlistTemplate>
  <div class="pad-10 filter-con">
    <ng-container *ngFor="let item of filter">
      <div *ngIf="item?.line; else filterButton" class="border-c border-b mar-5"></div>
      <ng-template #filterButton>
        <button
          class="grid grid-gap-10 pad-10 mar-b-10 pointer border-r-4 align-c font-14 filter head-c {{!!getObj.filter && !!getObj.filter.name && getObj.filter.name==item.name ?'filter-act':''}}"
          (click)="applyFilter(item);" style="grid-template-columns: 30px auto max-content;" matRipple>
          <span class="material-symbols-outlined">{{item?.icon}}</span>
          <div class="overflow-e flex align-c">{{item?.name}}</div>
          <div class="font-10">{{!!countObj && item.key && countObj[item.key] ? countObj[item.key] : 0}}</div>
        </button>
      </ng-template>
    </ng-container>
  </div>
</ng-template>

<ng-template #cardInfoItemTemplate let-itemInfo="itemInfo">
  <div class="bg-white border-c border border-r-4 grid"
    style="min-height: 100px;min-height: 100px; grid-template-columns: 120px calc(100% - 120px);">
    <div class="border-right border-c">
      <div class="pad-10 head-c f-w-500 pointer"> IN/24/1250</div>
      <div class="align-c flex justify-c pad-5-10 {{itemInfo?.status}} status white">Paid</div>
      <div class="pad-10 sub-c font-12 overflow-e"> Oct 12, 2024</div>
    </div>
    <div class="grid " style="grid-template-rows: calc(100% - 40px) 40px;">
      <div class="grid grid-gap-10 pad-10" style="grid-template-columns:calc(100% - 50px) 40px ;">
        <div class="flex flex-d-c overflow-e">
          <div class="f-w-500">Puducherry</div>
          <div class="sub-c font-12 mar-t-5 overflow-e">VILLUPURAM RAILWAY STATION</div>
        </div>
        <div class="flex align-c justify-r">
          <button class="icon-btn-basic">
            <span class="material-symbols-outlined ">more_vert</span>
          </button>
        </div>
      </div>
      <div class="pad-10 border-c border-t flex algin-c justify-r head-c"> Total: <span class="f-w-500 mar-l-10"
          style="color: green;">22390</span></div>
    </div>
  </div>
</ng-template>
