.preview-border {
  border: 1px dashed #5c5f62;
}

.status {
  background: #cd7bc9;
}

.paid,
.approved {
  background: #5a9d7e !important;
}

.pending {
  background: #c2ac5b !important;
}

.sent {
  background: #8bafe8 !important;
}


.cancelled {
  background: #d38094 !important;
}
