/* You can add global styles to this file, and also import other style files */

/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../src/theme.scss";

@import "../../../assets/css/common.css";
@import "../../../assets/css/color.css";
@import "../../../assets/css/responsive.css";
@import "../../../assets/css/table.css";


html,
body {
  height: 100%;
  color: #2f3a46;
  line-height: normal;
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif !important; */
  font-family: 'Poppins', sans-serif !important;
  background-color: #deeaff40;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}


input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
textarea {
  border: none;
  background-color: transparent;
}

::placeholder {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  /* font-family: 'Poppins', sans-serif !important; */
}

textarea {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  /* font-family: 'Poppins', sans-serif !important; */
}

button {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  /* font-family: 'Poppins', sans-serif !important; */
}

.mat-paginator {
  background: transparent !important;
}


*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 13px;
  border: none;
  color: #778ba7;
  background-color: #d9e7f7;
  height: 5px;
}

*:hover::-webkit-scrollbar,
*:hover::-webkit-scrollbar-thumb {
  color: #778ba7 !important;
  background-color: #d9e7f7 !important;
  transition: color 0s, opacity 0.5s linear;
}


*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.mat-dialog-container {
  padding: 0px !important;
}

button:focus {
  outline: 0;
}

.display-none {
  display: none !important;
}

.font-f-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}


.mb-view {
  display: none;
}

.desk-view {
  display: block;
}

.con-vi-h {
  height: calc(100vh - 60px);
}

@media (max-width:600px) {
  .mb-view {
    display: block !important;
  }

  .filter-con {
    height: calc(100% - 59px) !important;
  }

  .con-vi-h {
    height: calc(100vh - 113px);
  }

  .mat-sidenav-container {
    height: calc(100% - 113px) !important;
    min-height: calc(100% - 113px) !important;
  }

  .desk-view {
    display: none !important;
  }
}

.left-filter-p {
  display: block;
}

.tab-filter-btn {
  display: none;
}

.tab-grid {
  display: grid;
}

@media (max-width:1200px) {
  .left-filter-p {
    display: none !important;
  }

  .tab-filter-btn {
    display: block;
  }

  .tab-grid {
    display: block;
  }
}

.filter-act {
  background: var(--color-primary-opacity-10) !important;
  color: var(--color-primary);
  font-weight: 400;
}

.filter:hover {
  background: var(--color-primary-opacity-10) !important;
}

.filter-con {
  height: calc(100vh - 110px);
  overflow: auto;
}

.filter {
  background: transparent;
  width: 100%;
  border: none;
}

.scroll-h::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.bottom-sheet-clase {
  /* height: 90vh; */
}
