.init-c {
  position: sticky !important;
  left: -2px;
  z-index: 333 !important;
  background: #fff;
  width: 100px;
  min-width: 100px !important;
}

.name-c {
  position: sticky !important;
  left: 96px;
  z-index: 333 !important;
  background: #fff;
  max-width: 160px !important;
}

.th-name-c {
  background: #eef3f9 !important;
  z-index: 999 !important;
}

.td-name-c {
  z-index: 99;
}

.nth-c {
  position: sticky !important;
  right: -1px;
  background: #fff;
  width: 150px;
  min-width: 150px;
}

.th {
  background: #eef3f9;
  position: sticky !important;
  top: -1px;
  z-index: 101;
  color: #093651 !important;
  font-weight: 500;
}

.th,
.td {
  max-width: max-content;
  white-space: pre;
  max-width: 230px;
  min-width: 120px;
  padding: 4px 12px;
  text-align: left;
}

.td {
  border-bottom: 1px solid #d2ddec;
  height: 50px;
}

.th {
  /* padding: 2px 10px;
  box-sizing: border-box; */
  height: 48px;
}

.td {
  border-bottom-width: 0.5px !important;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 0.5px solid #d9e7f7;
  background-color: #fff;
}

.table {
  border-collapse: collapse;
}