<div class="m-con width-100 height-100 grid pos-a">
  <div class="login-main">
    <div class="login-c">
      <mat-progress-bar class="example-margin" color="primary" mode="indeterminate"
        *ngIf="isResending || isSubmiting">
      </mat-progress-bar>
        <ng-container [ngTemplateOutlet]="loginTemplate"></ng-container>
    </div>
  </div>
  <div style="position: absolute;bottom:1.5rem;width: 100%;display: grid;justify-items: center;">
    <div style="width: 15rem;height: 1px;margin-bottom: 6px;background: #d8e7ff;"></div>
    <span class="sub-c font-12">Powered By</span>
    <div class="head-c f-w-500">The Tech Team</div>
  </div>
</div>

<ng-template #loginTemplate>
  <div class="pad-20">
    <div style="text-align: center;">
      <img src="https://api.malaiagency.in/uploads/ma_logo.png" height="70px">
    </div>
    <p class="head-c f-w-500 font-16 mar-10" style="text-align: center;">Sign In</p>
    <form [formGroup]="loginFormGroup">
      <div class="pad-10-20"><input placeholder="Email Address" class="{{!!emailErrorCallback?'shake':''}} width-100"
          type="email" formControlName="email"></div>
      <div class="error-span pad-5-20" *ngIf="!!emailErrorCallback">{{emailErrorCallback}}</div>
      <div class="pad-10-20 pos-r">
        <input placeholder="Password" class="{{!!passwordErrorCallback?'shake':''}} width-100" type="{{passFieldType}}"
          formControlName="password">
        <span class="pos-a pointer" style="right: 28px;top: 22px;">
          <mat-icon class="icon-18 sub-c"
            (click)="passFieldType=='password'?passFieldType='text':passFieldType='password'">
            {{passFieldType=='password'?'lock':'lock_open'}}
          </mat-icon>
        </span>
      </div>
      <div class="error-span pad-5-20" *ngIf="!!passwordErrorCallback">{{passwordErrorCallback}}</div>
      <div class="pad-10-20">
        <button mat-flat-button color="primary" class="width-100" (click)="login();"
          style="line-height: 42px;" [disabled]="isSubmiting">Sign In
          <mat-icon>east</mat-icon>
        </button>
      </div>
    </form>
  </div>
</ng-template>
