.m-con{
    grid-template-rows: 1fr 26rem;
    background-image: url(https://api.myairliftusa.com/uploads/chat_login_bg_svg_2_2021-02-04_13:37:56.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-color: #f4f9ff7a;
}
.login-c{
    background: #fff;
    width: 30rem;
    min-height: 200px;
    box-shadow: 0 2px 12px 0 rgb(41 45 55 / 16%);
    border-radius: 7px;
}
.pad-10-20{
    padding: 10px 20px;
    box-sizing: border-box;
}
.pad-5-20{
    padding: 5px 20px;
    box-sizing: border-box;
}
.login-main{
    user-select: none;
    z-index: 2;
    justify-self: center;
    height: fit-content;
    margin-top: 9rem;
    align-self: center;
}
input{
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    line-height: 2.4;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.code-input-c {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content;
    grid-gap: 25px;
  padding: 10px 0px;
  box-sizing: border-box;
  }
  .code-input {
    width: 45px;
    height: 45px;
    background: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    font-size: 20px;
    padding: 0px 15px;
    box-sizing: border-box;
    align-self: center;
  }
  
  .code-input:focus {
    border-color: var(--color-primary);
  }
  .error-span {
    color: #E92B2B;
    font-size: 14px;
    transition: display 3s ease-in-out;
  }
  input:focus{
    /* border: 1px solid #0565ff; */
    border: 1px solid var(--color-primary);
    background: #fff;
    box-shadow: 0 0 4px 2px rgba(5,101,255,0.16);
    border-radius: 4px;
  }
  .shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 1;
  }


  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }