::ng-deep .mat-button-toggle-appearance-standard,
::ng-deep .mat-button-toggle-label-content {
  line-height: 30px !important;
  font-size: 12px !important;
}

::ng-deep .mat-pseudo-checkbox-minimal,
::ng-deep .mat-pseudo-checkbox-checked:after {
  width: 12px !important;
  height: 4px !important;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'240,
    'GRAD'-25,
    'opsz'40
}

::ng-deep .mat-bottom-sheet-container {
  width: 100vw !important;
}

::ng-deep .mat-bottom-sheet-container{
    padding: 0px  !important;
}